*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
#nav h1 {
      background-color: powderblue;
      text-align:center;
      text-transform: capitalize;
}
#innner{
    font-size: 10px;
}
#outer{
    font-size: 25px;
}